body{
    font-family: 'Fira Mono';
    background-color: papayawhip;
}
.centre {
    margin-left: auto;
    margin-top: 250px;
    margin-bottom: 0px;
    margin-right: auto;
    width: 8em
}
@media only screen and (min-width: 200px){
    body {
        background-color: rgb(219, 189, 141)p;
    }
}
@media only screen and (min-width:900px){
    body {
        background-color: papayawhip;
    }
}
/* comment */
.title{
    text-align: center;
    font-size: 70px;
    color: rgb(51, 25, 7);
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-right: auto;
    width: 8em
}
